/* Properties */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

/* To use if needed: */
.main-box {
  width: 80%;
  margin: auto;
}

/* Header */
header {
  background-color: #0C325A;
  height: 450px;
  background-image: url(../img/background-header.png);
  background-size: 70% 90%;
  background-repeat: no-repeat;
  background-position: 115% 210%;
}

.wrapper {
  position: relative;
  width: 80%;
  margin: 0 auto;
}

.logo {
  display: inline-block;
  vertical-align: middle;
}

.left-nav,
.right-nav {
  text-transform: uppercase;
  display: inline-block;
  vertical-align: top;
}

.left-nav {
  padding: 15px 2px;
  margin-left: 25px;
}

.right-nav {
  padding: 15px 2px;
  margin-left: 120px;
}

/* Navbar */
.main-navbar {
  padding-top: 10px;
}

.main-navbar li {
  list-style: none;
  display: inline;
  font-size: 10px;
  margin-right: 8px;
}

.main-navbar li a {
  text-decoration: none;
  color: #fff;
}

/* Buttons/Links */
.login-btn {
  border: 1px solid #fff;
  padding: 5px 20px;
  border-radius: 5px;
}

.btn {
  border: 1px solid #7CBB02;
  border-radius: 5px;
  padding: 5px 15px;
  background-color: #7CBB02;
  color: #fff;
  text-decoration: none;
}

.padded-btn {
  padding: 16px;
}

/* Main Title */
.main-title {
  width: 50%;
  position: absolute;
  transform: translate(0, 50%);
}

.main-title h1 {
  font-size: 45px;
  color: #fff;
  margin-bottom: 35px;
}

.main-title a {
  text-decoration: none;
}

/* Grey Section */
.grey-section {
  text-align: center;
}

.grey-section,
.bottom-box {
  background-color: #c1c1c1;
}

.grey-section h3 {
  font-size: 25px;
  padding: 1% 0;
}

.grey-text {
  padding: 3% 0;
}

/* Three-Column Section */
.features {
  width: 33.3%;
  float: left;
  text-align: center;
}

.columns {
  height: 600px;
  padding: 10% 0;
}

.columns img {
  height: 180px;
}

.columns h2 {
  color: #7CBB02;
  font-size: 22px;
}

.columns h2::after {
  display: block;
  height: 1.5px;
  background-color: #a3a3a2;
  content: "";
  width: 70px;
  margin: 0 auto;
  margin-top: 30px;
}

.columns p {
  color: #868686;
}

.columns h2,
.columns p {
  padding: 20px 15px;
}

hr {
  color: #e9e9e9;
}

/* Second-to-last Section */
.image-text {
  height: 500px;
  padding: 5% 0;
  position: relative;
}

.image-text h2 {
  font-size: 35px;
}

.image-text p {
  padding: 5% 0;
}

.image-text img {
  width: 50%;
}

.image-text img,
.right-text {
  float: left;
}

.right-text {
  width: 40%;
  text-align: left;
  position: absolute;
  transform: translate(155%, 5%);
}

/* Footer */
.bottom-box {
  height: 140px;
}

footer {
  height: 100px;
  position: relative;
  margin-top: 2%;
}

footer h2 {
  text-align: left;
  width: 30%;
  position: absolute;
  top: 50%;
}

.footer-text {
  color: #545454;
  width: 70%;
  position: absolute;
  right: 0;
  top: 50%;
  text-align: right;
}

.footer-text li {
  list-style: none;
  display: inline-block;
}

.input {
  color: #545454;
  font-weight: bold;
  background-color: #c1c1c1;
  text-align: left;
  padding: 5px 80px 5px 0;
  margin: 0 30px;
}

.bottom {
  position: absolute;
  width: 10%;
  right: 6%;
  text-align: center;
}
