* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.main-box {
  width: 90%;
  margin: auto;
}

header {
  background-color: #0C325A;
  margin: 0 auto;
}

.main-navbar {
  width: 80%;
  text-transform: uppercase;
  margin: 0 auto;
  padding: 15px 0;
}


.floating {
  float: left;
  display: inline-block;
}

ul {
  height: 20px;
}

.main-navbar li {
  list-style: none;
  display: inline-block;
  float: left;
  margin-right: 20px;
  font-size: 10px;
}

.main-navbar li a {
  text-decoration: none;
  color: #fff;
}

.main-navbar img {
  width: 10%;
  display: inline-block;
  vertical-align: middle;
}

.left-list {
  width: 60%;
}

.right-list {
  width: 30%;
}

.green-plan {
  border: 1px solid #7CBB02;
  border-radius: 5px;
  padding: 15px;
  background-color: #7CBB02;
}

/* .left-list,
.right-list {
  display: inline-block;
} */

 .behind-title {
  height: 60vh;
  background-image: url(../img/background-header.png);
  background-size: 70% 90%;
  background-repeat: no-repeat;
  background-position: 110% 100%;
}

.main-title {
  background-color: #0C325A;
}
/*
h1 {
  font-size: 25px;
  color: #fff;
} */
